.search-bar {
  width: 800px;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    padding: 0.8rem;
    width: 70%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #5c6bc0; /* Focus color */
  }
  